<% include partials/header.ejs %>

<div class="main-content">

    <form class="form-labels-on-top">

        <div class="form-title-row">
            <h1>Participant's Summary</h1>
        </div>

        <div class="form-row">
            <label>
                <span>The participant's average sentimental score today is: <strong><%= avgHunna.toFixed(2) %></strong><%= avgString %>
            </label>
        </div>


    </form>
</div>

<% include partials/footer.ejs %>








