

<% include partials/header.ejs %>

<div class="main-content">

    <form class="form-labels-on-top" action = "/thank" method = "GET">

        <div class="form-title-row">
            <h1>Log in to your account:</h1>
        </div>


        <div class="form-row">
            <label>
                <span>Username:</span>
                <input type = "text" placeholder = "Username">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Password:</span>
                <input type = "Password" placeholder = "Password">
            </label>
        </div>

        <div class="form-row">
            <a href="/doctor" class="btn btn-info" role="button" style = "margin-top: 20px">Log In</a>
        </div>
    </form>
</div>

<% include partials/footer.ejs %>











