<% include partials/header.ejs %>

<div class = "container">
	<div class = "jumbotron" style = "background-color: white; margin-left: 0.5em; text-align: center;">
		<h1>Welcome to freeMind</h1>
		<h3>The future of mental wellness</h3>
        <a href="/About" class="btn btn-info" role="button" style = "margin-top: 10px;">Learn More About Us!</a>
	</div>
</div>

<div class= "underContainer">


</div>
<% include partials/footer.ejs %>