

<% include partials/header.ejs %>

<div class="main-content">

    <form class="form-labels-on-top" action = "/thank" method = "GET">

        <div class="form-title-row">
            <h1>Please answer the following questions:</h1>
        </div>

        <div class="form-row">
            <label>
                <span>1. How do you feel most of the time?</span>
                <input type = "text" name = "q1">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>2. How are you sleeping? Too little or too much?</span>
                <input type = "text" name = "q2">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>3. Do you fall asleep quickly and are you staying asleep?</span>
                <input type = "text" name = "q3">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>4. Are you still enjoying the things that you have previously found pleasurable in the past?</span>
                <input type = "text" name = "q4">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>5. Do you feel guilty or worthless?</span>
                <input type = "text" name = "q5">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>6. Do you have enough energy to get through the day or do you find that the day drags on?</span>
                <input type = "text" name = "q6">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>7. Are you having problems with focus and concentration?</span>
                <input type = "text" name = "q7">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>8. Have you noticed any changes in your appetite?</span>
                <input type = "text" name = "q8">
            </label>
        </div>

        <div class="form-row">
            <button class = "btn btn-success btn-md" type = "submit">Submit Response</button>
        </div>
    </form>
</div>

<% include partials/footer.ejs %>











