
<% include partials/header.ejs %>

<h1></h1>

<div class="main-content">

    <form class="form-labels-on-top">

        <div class="form-title-row">
            <h1>Thanks for inputting your answers. Have a great day!</h1>
        </div>

    </form>
</div>

<% include partials/footer.ejs %>